//

@media only screen and (max-width: 550px) {
  // .login-window {
  //   width: 100vw;
  // }
  .login-container {
    grid-template-columns: 1fr;
    color: red;
  }

  .ui-h1 {
    font-size: 1.5rem;
  }

  .ui-h5 {
    font-size: 1rem;
  }
}

// @media only screen and (max-width: 550px) {
//   .ui-h1 {
//     font-size: 1.5rem;
//   }

//   .ui-h5 {
//     font-size: 1rem;
//   }
// }

@media only screen and (max-width: 875px) {
  .login-window {
    width: 100vw;
    box-shadow: unset !important;
    padding: 50px 26px !important;
    height: unset !important;
  }

  .login-container {
    min-height: unset !important;
  }
}

@media only screen and (max-width: 1150px) {
  .ui-h5 {
    font-size: 1.25rem;
  }
}

.col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (max-width: 550px) {
  .col-2 {
    grid-template-columns: 1fr;
  }
}
